.Navbar_Component{
width:100vw;
height:60px;
background-color:#131A22;
display:flex;
}
.navbar_logo{
background:url('https://ik.imagekit.io/qajjv17e0f/amazon-image/sprite_350x.png?updatedAt=1679196551235') no-repeat -9px -50px;
width:98px;
height:31px;
margin:18px;
}
.navbar_locator{
display:flex;
margin:20px 0px;
}
.navbar_location{
color:white;
font-weight:bold;
margin-left:5px;
}
.navbar_locatorImage{
background: url('https://ik.imagekit.io/qajjv17e0f/amazon-image/sprite_350x.png?updatedAt=1679196551235') no-repeat -70px -378px;
	width: 16px;
	height: 18px;
}

.navbar_searchComponent{
display:flex;
}
.navbar_searchBoxDiv{
background-color:#FEBE68;
height:44px;
width:48px;
border-radius:0px 5px 5px 0px;
margin-top:8px;

}
.navbar_searchBox{
width:640px;
height:38px;
margin-top:8px;

}
.navbar_searchIcon{
background: url('https://ik.imagekit.io/qajjv17e0f/amazon-image/sprite_350x.png?updatedAt=1679196551235') no-repeat -9px -289px;
	width: 23px;
	height: 23px;
	margin:12px;
}
.nav__dropdown{
width:60px;
height:44px;
margin-top:8px;
background-color:e6e5e5;
border-radius:5px 0px opx 5px;
text-align-last:center;}

.navbar_signIn{
color:white;
width:120px;
margin-top:10px;
margin-left:50px;
}
.navbar_returns{
color:white;
width:80px;
margin-top:10px;
margin-left:10px;

}

.navbar_cart{
color:white;
margin-top:10px;
display:flex;


}
.navbar_text{
color:white;


}
.cart_image{
background: url('https://ik.imagekit.io/qajjv17e0f/amazon-image/sprite_350x.png?updatedAt=1679196551235') no-repeat -217px -336px;
	width: 43px;
	height: 30px;
}
.navbar_text_cart{
margin:10px;
font-weight:bold;

}
.cart__item{
font-weight:bold;
position:relative;
left:-23px;
top:-3px;
color:#F08805
}
.navbar__footer{
width:1480px;
height:30px;
background-color:#22303E;
color:white;
display:flex;
}
.navbar__footer_text{
margin: 5px 10px;
font-size:14px;
font-weight:bold;
}