.mainPage{
width:100vw;
height:90vh;
background:url('https://ik.imagekit.io/qajjv17e0f/amazon-image/1348517_in_prime_2_pd_3000x1200_Eng._CB663273097_.jpg.png?updatedAt=1679196547013');
background-size:120vw;
background-color:#EAEDED;

}